/* Universal Styles */
* {
  font-size: 20px;
  color: gray;
}

div {
  display: block;
}

.flex-container {
  display: flex;
}

a {
  font-size: 20px;
  text-decoration: none;
}

.strong {
  font-weight: bolder;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-darkgray {
  color: #34333A;
}

.darkgray {
  background-color: #34333A;
}

.lightgray {
  background-color: lightgray;
}

a.readmore {
  color: blue;
}

.row {
  display: flex;
  flex-direction: row;
}

h3 {
  font-size: 25px;
}

/* Header Section */
.header {
  margin: auto;
  height: 64px;
  max-width: 1250px;
}

.header-content {
  padding: 16px 24px;
  justify-content: space-between;
}

.Brand {
  display: flex;
  height: 32px;
  align-items: center;
}

.Brand .logo {
  max-height: 100%;
}

.Brand .companyname {
  font-size: 20px;
  font-weight: normal;
}

.nav {
  display: flex;
  align-items: center;
}

.nav div {
  margin-left: 16px;
}

  /* Header Mobile */
  .Mobile-Nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    display: none;
  }

  .Mobile-Nav img {
    height: 100%;
  }

  @media only screen and (max-width: 480px) {
    .Brand {
      display: none;
    }

    .nav {
      display: none;
    }

    .Mobile-Nav {
      display: flex;
    }
  }

/* Body Section */

.body {
  margin: auto;
  max-width: 1250px;
  max-height: 100%;
  background-color: lightgray;
}

/* Intro Section */
.body1 {
  max-height: 15%;
  padding: 32px 24px;
  padding-right: 0px;
}

.body1 .column-left {
  height: auto;
  max-width: 60%;
  padding-right: 24px;
}

.body1 .column-left img {
  max-height: 100%;
  width: 100%;
}

.body1 .column-right {
  margin: auto;
  width: 35%;
  flex-direction: column;
  justify-content: space-between;
}

.body1 .column-right div {
  padding: 16px 0px;
}

.column-right h1 {
  font-size: 48px;
  font-weight: bolder;
}

.column-right h2 {
  font-size: 24px;
  font-weight: bold;
}

.column-right .button {
  max-width: 90%;
  padding: 8px 0px;
}

.column-right .button p {
  text-align: center;
}
  /* Intro Mobile */
  @media only screen and (max-width: 480px) {
    .body1 {
      padding: 0;
      flex-direction: column;
      max-width: 480px;
    }

    .body1 .column-left {
      max-width: 100%;
      padding: 0;
    }

    .body1 .column-right {
      min-width: 93%;
      margin: 0;
      padding: 32px 16px;
    }

    .body1 .column-right .Mobile-Intro {
      text-align: center;
      padding: 0;
    }

    .body1 .column-right .Text1 {
      padding-bottom: 32px;
    }

    .body1 .column-right .Text2 {
      padding-bottom: 24px;
    }

    .body1 .column-right a .button {
      max-width: 100%;
    }
  }

/* Info Section */
.body2 {
  max-width: 100%;
  max-height: 15%;
  padding: 32px 24px;
  padding-right: 0px;
  background-color: white;
}

.body2 .column-left {
  height: auto;
  max-width: 60%;
  flex-direction: column;
  padding-right: 24px;
}

.body2 .column-left img {
  max-width: 100%;
  max-height: 100%;
}

.body2 .column-left h1 {
  font-size: 40px;
  font-weight: bolder;
  padding: 24px 0px;
}

.column-left .Text2 p {
  font-size: 20px;
}

.column-left .Text3 {
  padding-top: 24px;
}

.body2 .column-right {
  max-width: 40%;
  height: auto;
  flex-direction: column;
}

.body2 .column-right .column {
  padding: 16px;
  max-width: 100%;
  height: auto;
  flex-direction: row;
  outline: 1px solid lightgray;
  align-items: center;
}

.column-right .Image {
  height: auto;
  max-width: 35%;
}

.column-right img {
  max-width: 100%;
}

.column-right .Text {
  margin: auto 0;
  padding-left: 16px;
  max-width: 65%;
}

.column-right.Text h2,p {
  padding: 8px 0px;
}
.column-right .Text a {
  padding: 8px 0;
}

.column-right .Text h2 {
  font-size: 28px;
}

  /* Info Mobile */
  .Info-Mobile {
    min-width: 100%;
  }

  @media only screen and (min-width: 481px) {
    .Info-Mobile {
      display: none;
    }
  }

  @media only screen and (max-width: 480px) {
    .body2 {
      padding: 16px;
      padding-bottom: 0;
      min-width: 92%;
      margin: 0;
    }

    .body2 .column-left {
      display: none;
    }

    .body2 .column-right {
      min-width: 100%;
    }

    .body2 .column-right .column {
      margin: 0;
      flex-direction: column;
      outline: none;
      padding: 0;
      background-color: white;
      padding-bottom: 32px;
    }

    .body2 .Image {
      min-width: 100%;
      padding-bottom: 16px;
    }

    .body2 .Image img {
      display: none;
    }

    .body2 .Image .Info-Mobile img {
      display: block;
    }

    .body2 .column-right .Text {
      min-width: 100%;
    }
  }

/* Learning Section */
.body3 {
  max-width: 100%;
  padding: 32px 56px;
}

.body3 .column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.body3 .Text {
  padding-bottom: 16px;
  margin: auto;
}

.body3 .Text h2 {
  font-size: 40px;
  font-weight: bolder;
}

.body3 .container {
  max-width: 100%;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.body3 .Course {
  display: flex;
  flex-direction: column;
  width: 30.5%;
  height: auto;
  padding: 16px;
  flex-grow: 1;
}

.body3 .Course img {
  width: 100%;
  max-height: auto;
}

.body3 .Course .description {
  background-color: white;
  padding: 16px 16px 24px 16px;
  height: 100%;
}

.body3 .description h3 {
  font-weight: bolder;
  padding-bottom: 8px;
}

.body3 .description p {
  font-size: 18px;
}

.body3 .description .courses {
  padding: 8px 0px;
}

  /* Learning Mobile */
  @media only screen and (max-width: 480px) {
    .body3 {
      padding: 32px 16px;
      background-color: white;
      outline: 0.1px solid lightgray;
    }

    .body3 .column .container {
      flex-direction: column;
      margin: 0;
    }

    .body3 .container .Course {
      min-width: 100%;
      padding: 0;
      padding-bottom: 8px;
    }

    .body3 .Course img {
      display: none;
    }

    .body3 .Course .description {
      max-width: 100%;
      padding: 16px 24px;
      background-color: darkgray;
    }

    .body3 .column .Marketing {
      padding-bottom: 0;
    }

    .body3 .description p {
      display: none;
    }
  }

/* Thesis Section */
.body4 {
 flex-direction: column;
 padding: 32px 0;
 padding-left: 24px;
 background-color: white;
}

.body4 .text {
  padding-bottom: 32px;
  margin: 0 auto;
}
.body4 .text h2 {
  font-size: 40px;
  font-weight: bolder;
}

.body4 .container {
  width: 100%;
  flex-direction: row;
}

.body4 .column-left {
  width: 60%;
  padding-right: 24px;
}

.body4 .column-left video {
  width: 100%;
  padding-bottom: 24px;
}

.body4 .text-head h3 {
  font-size: 24px;
  font-weight: bolder;
}

.body4 .text-description {
  font-size: 20px;
  padding-top: 8px;
}

.body4 .column-right {
  width: 40%;
  flex-direction: column;
  padding-right: 12px;
}

.body4 .column-right .image {
  max-width: 35%;
  height: auto;
  padding: 16px;
}

.body4 .column-right .text {
  width: 65%;
  margin: auto;
}

.body4 .column-right h3 {
  font-weight: bolder;
  padding-bottom: 16px;
}

  /* Thesis Mobile */
  @media only screen and (max-width: 480px) {
    .body4 {
      padding: 0;
      padding-top: 32px;
      padding-bottom: 24px;
    }

    .body4 .column-right {
      display: none;
    }

    .body4 .column-left {
      min-width: 100%;
      padding: 0;
    }

    .body4 .column-left video {
      padding: 0;
    }

    .body4 .text {
      padding-bottom: 16px;
    }

    .body4 .text-head , .text-description {
      display: none;
    }
  }

/* Footer Section */
footer {
    max-width: 1250px;
    margin: 0 auto;
}
.footer {
  padding: 16px 24px;
  justify-content: space-between;
  margin: 0 auto;
}

.footer span a {
  font-size: 15px;
  padding: 0 5px;
}

  /* Footer Mobile */
  @media only screen and (max-width: 480px) {
    .footer span {
      display: none;
    }
  }
